@media (min-width:703px) {
    body{
        display: grid;
        grid-template-columns: auto auto auto 5% 310px;
        grid-template-rows: 80px 100px 10% 10% 10% 10% 10% auto 15% 80px; /*Az egészet flex És grid segítségével megoldani*/
        margin: 0px;
        padding: 0px;
        height: 130vh;
    }
    div{
        border: 1px black solid;
        padding: 10px;
        text-align: justify;
    }
    #header{
        grid-column: 1 / 6;
        grid-row: 1 / 2;
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(0, 255, 255) 100%);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    #header p{
        width: 40px;
    }
    #articles{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: none;
        justify-content: space-evenly;
        padding: 0;
        padding-top: 5px;
    }
    .article{
        font-family: 'Comic Sans MS';
        width: 300px;
        height: auto;
        border-radius: 20px;
        content: "";
        clear: both;
        display: table;
        background-color: white;
        transition: ease background-color 0.4s ;
    }
    .article:hover{
        background-color: whitesmoke;
    }
    h2{
        font-size: 20px;
    }
    #aside1{
        grid-area: 2 / 4 / 3 / 6;
        text-align: center;
        background-color: yellow;
    }
    #aside2{
        grid-area: 3 / 4 / 10 / 6;
        background: red;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    #footer{
        grid-column: 1 / 6;
        grid-row: 10 / 11;
        text-align: center;
        background: rgb(75,75,75);
        background: linear-gradient(0deg, rgba(75,75,75,1) 0%, rgba(227,227,227,1) 100%);
    }
    #footer p{
        color: black;
    }
    H1{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 50;
        color: black;
    }
    #video{
        width: 300px;
        
    }
    #Négyzet1{
        animation-name: negyzetTanc1;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        z-index: 0;
    }
    #Négyzet2{
        animation-name: negyzetTanc2;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-delay: -2s;
        z-index: 1;
    }
    #Négyzet3{
        animation-name: negyzetTanc3;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-delay: -4s;
        z-index: 2;
    
    }
    .Negyzet{
        width: 1%;
        height: 1%;
        position: relative;
        border: none;
    }
    #Negyzetek{
        border: 1px black solid;
        width: 40px;
        height: 40px;
        background-color: whitesmoke;
        grid-area: 1 / 3 / 2 / 4;
    }
    
    @keyframes negyzetTanc1 {
        0%   {left:-18px; top:-18px;}
        25%  {left:22px; top:-18px;}
        50%  {left:22px; top:22px;}
        75%  {left:-18px; top:22px;}
        100% {left:-18px; top:-18px;}
    }
    @keyframes negyzetTanc2 {
        0%   {left:-18px; top:-38px;}
        25%  {left:22px; top:-38px;}
        50%  {left:22px; top:2px;}
        75%  {left:-18px; top:2px;}
        100% {left:-18px; top:-38px;}
        }
    @keyframes negyzetTanc3 {
        0%   {left:-18px; top:-58px;}
        25%  {left:22px; top:-58px;}
        50%  {left:22px; top:-18px;}
        75%  {left:-18px; top:-18px;}
        100% {left:-18px; top:-58px;}
            }
    .hirdetes{
        background-color: white;
        height: 300px;
        width: 300px;
        padding: 0px;
        display: grid;
        text-align: center;
    }
    .hirdetesTartalom{
        border: none;
        text-align: center;
    }
    #ZoliH{
        height: 300px;
        width: 300px;
    }
    .pHir{
        padding: 5px;
    }
}
@media (max-width:703px) {
    body{
        display: grid;
        grid-template-columns: auto auto auto 10% 310px;
        grid-template-rows: 80px 100px 800px 10% 10% 10% 100px auto 15% 80px; /*Az egészet flex És grid segítségével megoldani*/
        margin: 0px;
        padding: 0px;
        height: 200vh;
    }
    div{
        border: 1px black solid;
        padding: 10px;
        text-align: justify;
    }
    #header{
        grid-column: 1 / 6;
        grid-row: 1 / 2;
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(0, 255, 255) 100%);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    #header p{
        width: 40px;
    }
    #articles{
        grid-area: 2 / 1 / 7 / 6;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: none;
        justify-content: space-evenly;
        padding: 0;
        padding-top: 5px;
        height: auto;
    }
    .article{
        font-family: "Comic Sans MS";
        width: 250px;
        height: 270px;
        border-radius: 20px;
        content: "";
        clear: both;
        display: table;
        background-color: white;
        transition: ease background-color 0.4s ;
    }
    .article:hover{
        background-color: whitesmoke;
    }
    h2{
        font-size: 20px;
    }
    #aside1{
        grid-area: 7 / 1 / 8 / 6;
        text-align: center;
        background-color: yellow;
    }
    #aside2{
        grid-area: 8 / 1 / 10 / 6;
        background: red;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    #footer{
        grid-column: 1 / 6;
        grid-row: 10 / 11;
        text-align: center;
        background: rgb(75,75,75);
        background: linear-gradient(0deg, rgba(75,75,75,1) 0%, rgba(227,227,227,1) 100%);
    }
    #footer p{
        color: black;
    }
    H1{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 50;
        color: black;
    }
    #video{
        width: 200px;
        margin: 0;
    }
    #Négyzet1{
        animation-name: negyzetTanc1;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        z-index: 0;
    }
    #Négyzet2{
        animation-name: negyzetTanc2;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-delay: -2s;
        z-index: 1;
    }
    #Négyzet3{
        animation-name: negyzetTanc3;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-delay: -4s;
        z-index: 2;
    
    }
    .Negyzet{
        width: 1%;
        height: 1%;
        position: relative;
        border: none;
    }
    #Negyzetek{
        border: 1px black solid;
        width: 40px;
        height: 40px;
        background-color: whitesmoke;
        grid-area: 1 / 3 / 2 / 4;
    }
    
    @keyframes negyzetTanc1 {
        0%   {left:-18px; top:-18px;}
        25%  {left:22px; top:-18px;}
        50%  {left:22px; top:22px;}
        75%  {left:-18px; top:22px;}
        100% {left:-18px; top:-18px;}
    }
    @keyframes negyzetTanc2 {
        0%   {left:-18px; top:-38px;}
        25%  {left:22px; top:-38px;}
        50%  {left:22px; top:2px;}
        75%  {left:-18px; top:2px;}
        100% {left:-18px; top:-38px;}
        }
    @keyframes negyzetTanc3 {
        0%   {left:-18px; top:-58px;}
        25%  {left:22px; top:-58px;}
        50%  {left:22px; top:-18px;}
        75%  {left:-18px; top:-18px;}
        100% {left:-18px; top:-58px;}
            }
    .hirdetes{
        background-color: white;
        height: 300px;
        width: 300px;
        padding: 0px;
        display: grid;
        text-align: center;
    }
    .hirdetesTartalom{
        border: none;
        text-align: center;
    }
    #ZoliH{
        height: 300px;
        width: 300px;
    }
    .pHir{
        padding: 5px;
    }
}
