body{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    margin: 0px;
    padding: 0px;
    height: 150vh;
}
div{
    border: 1px black solid;
    padding: 10px;
}
#header{
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,165,0,1) 0%, rgba(0,0,0,1) 100%);
}
#header p{
    width: 40px;
}
#article1{
    grid-column: 1 / 4;
    grid-row: 2 / 6;
    background: orange;
    background: linear-gradient(00deg, rgba(255,165,0,1) 0%, rgba(0,0,0,1) 100%);
    color: white;
    font-family: "Comic Sans MS";
}
#article2{
    grid-column: 1 / 4;
    grid-row: 6 / 10;
    background: orange;
    background: linear-gradient(0deg, rgba(255,165,0,1) 0%, rgba(0,0,0,1) 100%);
    color: white;
    font-family: "Comic Sans MS";
}
#aside{
    grid-column: 4 / 6;
    grid-row: 2 / 10;
    background: red;
}
#footer{
    grid-column: 1 / 6;
    grid-row: 10 / 11;
}
H1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 50;
    color: white;
}
#video1{
    width: 30vw;
}